body {
    font-family: 'Poppins', sans-serif;
}


.primary-btn-1 {
    background-color: #E55021;
}

.primary-btn-2 {
    background-color: #05B916;
}

.secondary-btn-1 {
    border-color: #E55021;
    color: #E55021 !important;
}

.secondary-btn-2 {
    border-color: #05B916;
    color: #05B916;
}

.form-wrapper {
    margin-top: 10vh;
    width: 50%;
}

.form-title {
    font-weight: 500;
    text-align: center;
}

.forgot {
    color: #E55021;
}

.auth-icon {
    align-self: flex-start;
}

.form-img {
    height: 100vh;
}

.page-wrapper-home {
    height: 100vh;
    width: 100%;
    background: url('./assets/h-bg.jpg') center no-repeat !important;
    background-size: cover !important;
}
.logo-mob {
    display: none;
}
.hero-note {
    padding-top: 20vh;
    max-width: 40rem;
    font-size: 2.5rem;
}

.ft-img {
    width: 2rem;
}


/* SIDE MENU STYLING */
.sidenav {
    height: 100% !important; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    /* top: 0; Stay at the top */
    left: 0;
    background-color: #F2FCF1; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .closebtn, .showbtn {
      display: none !important;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
    margin-left: 250px; /* 0 width - change this with JavaScript */
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        min-height: 100% !important; /* 100% Full-height */
    }
    .sidenav a {font-size: 18px;}
  }

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .form-img-wrapper {
        display: none;
    }

    .closebtn, .showbtn {
        display: block !important;
    }

    .sidenav {
        min-height: 150% !important; /* 100% Full-height */
        width: 0%;
    }

    .logo-mob {
        display: block;
    }

    .hide-mob {
        display: none;
    }
    
    #main {
        transition: margin-left .5s;
        padding: 20px;
        margin-left: 0%; /* 0 width - change this with JavaScript */
      }
  }


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .form-wrapper {
        width: 80%;
    }
    .logo-mob {
        display: block;
    }
    .hero-note {
        padding-top: 20vh;
        font-size: 1.5rem;
    }
    .hide-mob {
        display: none;
    }
    .form-img-wrapper {
        display: none;
    }
    .closebtn, .showbtn {
        display: block !important;
    }
    .sidenav {
        min-height: 150% !important; /* 100% Full-height */
        width: 0%;
    }
    #main {
        transition: margin-left .5s;
        padding: 20px;
        margin-left: 0%; /* 0 width - change this with JavaScript */
      }
  }